{% extends "plantilla.html" %}
{% block contenido %}
        {% include 'carrusel.html'%}
<div class=" container mt-3">
    <div class="d-md-flex row justify-content-between ">
        <div id="sedes" class=" col-md-5 border border-primary rounded  bg-light mb-3 ">
                <h4 class = "">Nuestras Sedes</h4>
        </div>
        <div id="carreras" class="col-md-5 border border-primary  rounded  bg-light mb-3 ">
                <h4 class = "">Estudia con nosotros</h4>
        </div>
    </div>
</div>
{% endblock%}